Тест Психология ИИ.json
{
  "name": "Тест Психология ИИ",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25183981-5ea2-478c-a54b-baebea06cf95",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "226fb94a-c9d7-4711-a8f0-042200accc1e",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "Restart",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "768636ed-0cb4-4c09-bdd9-df487bb90a25",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "Главное меню",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        320
      ],
      "id": "9f6a231e-27dc-4b70-8580-8c201ac95338",
      "name": "Check Message Type"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Твоя роль: Ты — аналитический ассистент по базе знаний «{{ $json.tableName }}».\n\n‼️ ПРИОРИТЕТНОЕ ПРАВИЛО (ВЫПОЛНИТЬ В ПЕРВУЮ ОЧЕРЕДЬ):\nЕсли вопрос пользователя — это приветствие (\"привет\") или вопрос о твоей личности/функции (\"кто ты?\", \"что ты?\", \"что ты умеешь?\", \"как тебя зовут?\"), ИГНОРИРУЙ ВЕСЬ КОНТЕКСТ БАЗЫ и ответь строго по шаблону:\n\n\"Я — интеллектуальный ассистент лаборатории. Моя задача — находить скрытые связи, риски и инсайты в базе знаний «{{ $json.tableName }}».\nПожалуйста, задайте вопрос по теме материалов, чтобы начать работу.\"\n\n(Не добавляй никаких рассуждений, фактов из базы или философии. Только этот текст).\n\n═══════════════════════════════════════════════════\n⏰ КОНТЕКСТ\n═══════════════════════════════════════════════════\n• Дата: {{ $now.format('DD MMMM YYYY', 'ru') }}\n• Год: {{ $now.year() }}\n\n═══════════════════════════════════════════════════\n📊 ДАННЫЕ\n═══════════════════════════════════════════════════\n• Найдено записей: {{ $json.recordsProcessed }}\n• Вопрос: \"{{ $json.userQuery }}\"\n\n═══════════════════════════════════════════════════\n💎 TONE OF VOICE: \"ИНТЕЛЛЕКТУАЛЬНЫЙ ИНСАЙДЕР\"\n═══════════════════════════════════════════════════\n1. **Фокус на парадоксах.** Начинай ответ с разрыва шаблона. Если все думают \"А\", а в базе написано \"Б\" — это твой главный козырь.\n2. **Без фамильярности.** Никаких \"Привет!\", \"Ты\", \"Зацени\". Тон уважительный, но твердый.\n3. **Энергия мысли.** Используй активные глаголы: \"Исследование разрушает миф\", \"Данные показывают разрыв\".\n4. **Бизнес-призма.** Каждый вывод связывай с рисками или возможностями для принятия решений.\n   - *Плохо:* \"Люди глупеют от ИИ\".\n   - *Хорошо:* \"Когнитивная деградация персонала создает новый операционный риск для качества управленческих решений\".\n5. **Лаконичность.** Убирай всё, что не несет новой информации. Каждое слово должно \"работать\".\n\n═══════════════════════════════════════════════════\n✅ СТРУКТУРА ОТВЕТА (ОБЗОРНЫЙ ЗАПРОС)\n═══════════════════════════════════════════════════\n\n1. **Вводная часть:**\n   ОБЯЗАТЕЛЬНО начни с фразы, синтезирующей суть через призму рисков или возможностей.\n   *Шаблон:* \"В базе собраны материалы о [тема]. Анализ выявляет скрытый риск/возможность: [суть].\"\n   \n2. **Основная часть (с заголовками):**\n   Разбей текст на смысловые блоки.\n   Каждый блок начни с **Жирного Заголовка** (используй Markdown `### Заголовок` или `**Заголовок**`).\n   \n   *Пример:*\n   ### Когнитивная деградация как риск\n   Использование ИИ снижает критическое мышление...\n   🔹 **[Название статьи](URL)** — [краткий вывод].\n\n3. **Резюме (Вывод):**\n   Одной строкой под итог.\n\n═══════════════════════════════════════════════════\n✅ ПРАВИЛА И ФОРМАТЫ\n═══════════════════════════════════════════════════\n1. **Структура (ОБЯЗАТЕЛЬНОЕ ФОРМАТИРОВАНИЕ):**\n   • Между абзацами — ВСЕГДА пустая строка.\n   • Перед каждым заголовком (###) — ДВЕ пустые строки.\n   • Списки оформляй через дефис \"- \" или \"• \". Каждому пункту — новая строка.\n\n2. **Стиль:**\n   • Убери слова-паразиты (\"хедлайн-инсайт\", \"тематические векторы\", \"в этом разделе\"). Просто пиши по существу.\n   • Никакого \"Текст сокращен\" или \"Конец фрагмента\". Пиши сразу законченную мысль.\n\n3. **Ссылки (ОЧЕНЬ ВАЖНО):**\n   • ССЫЛКИ ДОЛЖНЫ БЫТЬ ГИПЕРССЫЛКАМИ: `[Текст заголовка](URL)`.\n   • ЗАПРЕЩЕНО писать URL просто текстом в конце предложения или использовать заглушки типа \"(URL)\". Ты обязан взять ссылку из поля \"Источник\".\n   • ЗАПРЕЩЕНО использовать эмодзи (ромбы 🔷, стрелки ➡️ и т.д.). Текст должен быть чистым.\n\n4. **Заголовки:**\n   • Используй \"Sentence case\" (как в предложении): Только первая буква заглавная.\n   • *Плохо:* ### Риски Психологической Адаптации\n   • *Хорошо:* ### Риски психологической адаптации\n\n═══════════════════════════════════════════════════\n✅ СТРУКТУРА (КОНКРЕТНЫЙ ЗАПРОС)\n═══════════════════════════════════════════════════\nДай прямой ответ, но подсвети нюансы. Не просто \"да/нет\", а \"да, но с оговоркой X\".\n\n═══════════════════════════════════════════════════\n⚠️ КРИТИЧЕСКИЕ ОГРАНИЧЕНИЯ:\n• МАКСИМАЛЬНЫЙ ОБЪЕМ ОТВЕТА: 2500 символов (строго!). Пиши сжато, без \"воды\".\n• Одна мысль = одно предложение.\n• СТРОГО русский язык.\n• ИСКЛЮЧИТЬ: приветствия, вводные слова (\"В базе найдены...\", \"Анализ показывает...\"), заключения (\"Надеюсь, это поможет\").\n• ТОЛЬКО факты и выводы.\n\n═══════════════════════════════════════════════════\n📄 КОНТЕКСТ (НИЖЕ)\n═══════════════════════════════════════════════════\n{{ $json.promptContext }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2880,
        368
      ],
      "id": "47ea2a8f-ca56-4937-9903-8e7731b72ca3",
      "name": "AI Agent",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2880,
        560
      ],
      "id": "bac5f2f1-517b-4013-a29c-90724350543d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bh1l76toUEd851mG",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Выберите, где будем искать:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Психология ИИ",
                    "additionalFields": {
                      "callback_data": "Психология ИИ"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выпуски журнала «Ч»",
                    "additionalFields": {
                      "callback_data": "Выпуски журнала «Ч»"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        160
      ],
      "id": "04c9e820-28e8-4f59-acb5-b340af08ba3f",
      "name": "Send Buttons",
      "webhookId": "7989bae1-6c56-469a-944e-f1aca5686178",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"callback_query\"][\"message\"][\"chat\"][\"id\"]}}",
        "text": "=Вы выбрали {{ $json[\"callback_query\"][\"data\"] }}. Теперь введите текст для поиска.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        48
      ],
      "id": "cb1721f3-1652-4a88-827a-44b9624eb6d6",
      "name": "Send a text message",
      "webhookId": "f5dd56e5-1e43-4af8-a4b0-9fb12e332dc0",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12ac8551-32e8-490a-9027-cd483c813bf3",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "94c1481d-8e9e-4a68-ade1-4190f49a6887",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "/start",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        336
      ],
      "id": "485bc32c-dd8b-41b6-b64c-226093ad93ff",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphMC5S7HSm7UE8m",
          "mode": "list",
          "cachedResultName": "Knowledge Base",
          "cachedResultUrl": "https://airtable.com/apphMC5S7HSm7UE8m"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Get Context').first().json.tableId }}",
          "mode": "id"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2144,
        352
      ],
      "id": "3965913d-514d-4302-9ff9-d0dfc46ff360",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "lMVLXXYfYpxOzlHm",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d6359f9-c912-40be-ab55-06c104848f34",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4299d6f2-81ea-4136-a221-01d3c6b13a41",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "searchtag:",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        112
      ],
      "id": "1289b281-1e86-4177-b53a-cc1334986a74",
      "name": "Callback Query"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// const staticData = $getWorkflowStaticData('global');\n// const callback = $json.callback_query;\n\n// // ⚠️ КРИТИЧЕСКИ ВАЖНО: Проверяем, что это CALLBACK (кнопка)\n// if (!callback) {\n//   console.log('⚠️ Set Context: Not a callback - skipping');\n//   return { json: $json }; // Возвращаем как есть\n// }\n\n// const userId = callback.from.id || callback.message.chat.id;\n// const choice = callback.data;\n\n// console.log(`Set Context - userId: ${userId}, choice: ${choice}`);\n\n// // Сопоставление названия рубрики -> tableId\n// const tableMap = {\n//   \"Психология ИИ\": \"tbloVFbVCQ5rxt5K8\",\n//    \"Выпуски журнала «Ч»\": \"tbljFieoM9nqNqhb6\"\n// };\n\n// if (!staticData.userTables) {\n//   staticData.userTables = {};\n// }\n\n// const resolvedTable = tableMap[choice];\n\n// if (resolvedTable) {\n//   staticData.userTables[userId] = resolvedTable;\n//   console.log(`✅ Saved tableId: ${resolvedTable} for user: ${userId}`);\n// } else {\n//   console.log(`⚠️ Unknown choice: ${choice}`);\n// }\n\n// return {\n//   json: {\n//     ...$json,\n//     userId: userId\n//   }\n// };\nconst staticData = $getWorkflowStaticData('global');\nconst callback = $json.callback_query;\n\nif (!callback) {\n  console.log('⚠️ Set Context: Not a callback - skipping');\n  return { json: $json };\n}\n\nconst userId = callback.from.id || callback.message.chat.id;\nconst choice = callback.data;\n\nconsole.log(`Set Context - userId: ${userId}, choice: ${choice}`);\n\nconst tableMap = {\n  \"Психология ИИ\": \"tbloVFbVCQ5rxt5K8\",\n  \"Выпуски журнала «Ч»\": \"tbljFieoM9nqNqhb6\"\n};\n\nif (!staticData.userTables) {\n  staticData.userTables = {};\n}\n\nlet resolvedTable = tableMap[choice];\n\n// ✅ НОВОЕ: Если это вложенная кнопка \"psy:*\", привязываем к таблице \"Психология ИИ\"\nif (!resolvedTable && choice.startsWith('psy:')) {\n  resolvedTable = \"tbloVFbVCQ5rxt5K8\";\n  console.log(`✅ Detected nested psy: button, using Психология ИИ table`);\n}\n\nif (resolvedTable) {\n  staticData.userTables[userId] = resolvedTable;\n  console.log(`✅ Saved tableId: ${resolvedTable} for user: ${userId}`);\n} else {\n  console.log(`⚠️ Unknown choice: ${choice}`);\n}\n\nreturn {\n  json: {\n    ...$json,\n    userId: userId\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        64
      ],
      "id": "4883e0b8-1e4e-4819-ab86-401ee57e27ec",
      "name": "Set Context"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get Context - unified retrieval, с отладкой и fallback'ами\nconst staticData = $getWorkflowStaticData('global');\nconst callback = $json.callback_query;\nconst message = $json.message || {};\n\n// Вычисляем тот же userId по тем же правилам (симметрия с Set Context)\nconst userId = message?.from?.id || message?.chat?.id || callback?.from?.id || callback?.message?.chat?.id;\n\nconsole.log(`Get Context - userId: ${userId}`);\nconsole.log(\"Get Context - staticData.userTables:\", JSON.stringify(staticData.userTables));\n\n// Безопасные проверки\nif (!staticData.userTables || typeof staticData.userTables !== 'object') {\n  staticData.userTables = {};\n}\n\nconst tableId = staticData.userTables[userId] ?? null;\n\nconsole.log(`Get Context - Retrieved tableId: ${tableId}`);\n\nif (!tableId) {\n  // Возвращаем полезную отладочную структуру, чтобы дальше было видно, почему fail\n  return {\n    json: {\n      error: \"No table selected\",\n      chatId: message?.chat?.id || callback?.message?.chat?.id || null,\n      debugInfo: {\n        userId: userId,\n        hasUserTables: !!Object.keys(staticData.userTables).length,\n        allTables: staticData.userTables\n      }\n    }\n  };\n}\n\n// Успешный путь: добавляем tableId в payload\nreturn {\n  json: {\n    ...$json,\n    tableId: tableId\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        336
      ],
      "id": "ec9c7206-905e-4614-bf6a-3b46fa36299e",
      "name": "Get Context"
    },
    {
      "parameters": {
        "jsCode": "\n\n// const records = $input.all();\n// const contextData = $('Get Context').first().json;\n// const userQuery = contextData.message.text;\n// const chatId = contextData.message.chat.id;\n// const tableId = contextData.tableId;\n\n// const tableNames = {\n//   \"tbloVFbVCQ5rxt5K8\": \"Психология ИИ\",\n//   \"tblQ0OiVPSKW5UHqC\": \"Исследования\",\n//   \"tbljFieoM9nqNqhb6\": \"Выпуски журнала\"\n// };\n\n// const tableName = tableNames[tableId] || \"Неизвестная таблица\";\n\n// let formattedData;\n// let recordsToProcess;\n\n// if (tableId === \"tbloVFbVCQ5rxt5K8\" || tableId === \"tblQ0OiVPSKW5UHqC\") {\n//   // ========== ТАБЛИЦЫ \"ПСИХОЛОГИЯ ИИ\" и \"ИССЛЕДОВАНИЯ\" ==========\n  \n//   const MAX_TEXT_LENGTH = 1500; // Максимум символов текста на запись\n  \n//   // === УМНАЯ СОРТИРОВКА ПО РЕЛЕВАНТНОСТИ (v2) ===\n  \n//   // Стоп-слова для фильтрации\n//   const stopWords = ['что', 'есть', 'про', 'где', 'когда', 'как', 'это', 'все', 'или', 'дай', 'покажи', 'найди'];\n  \n//   // Извлекаем ключевые слова из запроса\n//   const queryWords = userQuery\n//     .toLowerCase()\n//     .split(/\\s+/)\n//     .filter(w => w.length > 2 && !stopWords.includes(w));\n  \n//   console.log(`🔍 Ключевые слова запроса: ${queryWords.join(', ')}`);\n  \n//   // Функция подсчёта релевантности с ВЕСАМИ полей\n//   function calculateRelevance(record, words) {\n//     const fields = {\n//       'Название': (record['Название'] || '').toLowerCase(),\n//       'Summary': (record['Summary'] || '').toLowerCase(),\n//       'ТекстПоста': (record['Текст исходного поста'] || '').toLowerCase(),\n//       'ТекстФайла': (record['Текст из файла'] || '').toLowerCase(),\n//       'Комментарий': (record['Комммментарий отправитель'] || '').toLowerCase(),\n//       'Теги': (record['Теги'] || []).join(' ').toLowerCase()\n//     };\n    \n//     let score = 0;\n    \n//     words.forEach(word => {\n//       // Бонус за ТОЧНОЕ совпадение в названии (очень высокий приоритет)\n//       if (fields['Название'] === word) {\n//         score += 20;\n//       } else if (fields['Название'].includes(word)) {\n//         // Название — максимальный вес (10 баллов)\n//         score += 10;\n//       }\n      \n//       // Summary — высокий вес (5 баллов)\n//       if (fields['Summary'].includes(word)) score += 5;\n      \n//       // Теги — средний вес (3 балла)\n//       if (fields['Теги'].includes(word)) score += 3;\n      \n//       // Комментарий — средний вес (2 балла)\n//       if (fields['Комментарий'].includes(word)) score += 2;\n      \n//       // Полный текст — минимальный вес (1 балл)\n//       if (fields['ТекстПоста'].includes(word)) score += 1;\n//       if (fields['ТекстФайла'].includes(word)) score += 1;\n//     });\n    \n//     return score;\n//   }\n  \n//   // Сортируем записи: сначала самые релевантные\n//   const sortedRecords = records.sort((a, b) => {\n//     const scoreA = calculateRelevance(a.json, queryWords);\n//     const scoreB = calculateRelevance(b.json, queryWords);\n//     return scoreB - scoreA; // от большего к меньшему\n//   });\n  \n//   // Берём первые 50 самых релевантных записей\n//   recordsToProcess = Math.min(50, sortedRecords.length);\n  \n//   console.log(`📊 Обрабатываем ${recordsToProcess} записей из ${tableName}`);\n  \n//   // Диагностика: показываем топ-5 записей\n//   console.log('=== ТОП-5 РЕЛЕВАНТНЫХ ЗАПИСЕЙ ===');\n//   sortedRecords.slice(0, 5).forEach((r, i) => {\n//     const score = calculateRelevance(r.json, queryWords);\n//     console.log(`${i+1}. [Score: ${score}] ${r.json['Название']}`);\n//   });\n  \n//   // === ФОРМАТИРОВАНИЕ ===\n  \n//   formattedData = sortedRecords.slice(0, recordsToProcess).map((item, index) => {\n//     const record = item.json;\n    \n//     let entry = `┌──── ЗАПИСЬ #${index + 1} ────┐\\n`;\n//     entry += `📌 Название: ${record['Название'] || 'Без названия'}\\n`;\n    \n//     // Автор/Отправитель\n//     if (record['Автор поста']) {\n//       entry += `👤 Автор: ${record['Автор поста']}\\n`;\n//     }\n    \n//     // Краткое описание\n//     if (record['Summary']) {\n//       entry += `📝 Краткое описание: ${record['Summary']}\\n`;\n//     }\n    \n//     // КЛЮЧЕВОЕ: добавляем полные тексты\n//     let fullText = '';\n    \n//     // Приоритет 1: Текст исходного поста\n//     if (record['Текст исходного поста']) {\n//       fullText = record['Текст исходного поста'];\n//     }\n    \n//     // Приоритет 2: Текст из файла (если поста нет)\n//     if (!fullText && record['Текст из файла']) {\n//       fullText = record['Текст из файла'];\n//     }\n    \n//     // Добавляем текст с ограничением\n//     if (fullText) {\n//       const textPreview = fullText.length > MAX_TEXT_LENGTH \n//         ? fullText.substring(0, MAX_TEXT_LENGTH) + '\\n[...текст сокращён...]' \n//         : fullText;\n//       entry += `\\n📄 ПОЛНЫЙ ТЕКСТ:\\n${textPreview}\\n`;\n//     }\n    \n//     // Комментарий отправитель (если есть)\n//     if (record['Комммментарий отправитель']) {\n//       entry += `\\n💬 Комментарий: ${record['Комммментарий отправитель']}\\n`;\n//     }\n    \n//     // Теги\n//     if (record['Теги'] && record['Теги'].length > 0) {\n//       entry += `🏷️ Теги: ${record['Теги'].join(', ')}\\n`;\n//     }\n    \n//     // Источник (для ссылок)\n//     if (record['Источник']) {\n//       entry += `🔗 Источник: ${record['Источник']}\\n`;\n//     }\n    \n//     return entry;\n//   }).join('\\n\\n');\n  \n// } else if (tableId === \"tbljFieoM9nqNqhb6\") {\n//   // ========== ТАБЛИЦА \"ВЫПУСКИ ЖУРНАЛА\" (оставляем как есть) ==========\n  \n//   const MAX_TEXT_PER_ISSUE = 3000;\n//   const MAX_ISSUES = 10;\n  \n//   recordsToProcess = Math.min(MAX_ISSUES, records.length);\n//   console.log(`📊 Выпуски журнала: обрабатываем ${recordsToProcess} записей`);\n  \n//   formattedData = records.slice(0, recordsToProcess).map((item, index) => {\n//     const record = item.json;\n    \n//     let entry = `\\n─────────────────────────────\\n`;\n//     entry += `📰 ВЫПУСК #${index + 1}: ${record['Название'] || 'Без названия'}\\n`;\n//     entry += `─────────────────────────────\\n`;\n    \n//     if (record['Дата выхода']) {\n//       entry += `📅 Дата: ${record['Дата выхода']}\\n`;\n//     }\n    \n//     if (record['Тэги'] && record['Тэги'].length > 0) {\n//       entry += `🏷️ Теги: ${record['Тэги'].join(', ')}\\n`;\n//     }\n    \n//     if (record['Источник']) {\n//       entry += `🔗 Источник: ${record['Источник']}\\n`;\n//     }\n    \n//     if (record['Исходный текст']) {\n//       const fullText = record['Исходный текст'];\n//       const textPreview = fullText.length > MAX_TEXT_PER_ISSUE \n//         ? fullText.substring(0, MAX_TEXT_PER_ISSUE) + '\\n\\n[...текст сокращен для оптимизации...]' \n//         : fullText;\n      \n//       entry += `\\n📄 ТЕКСТ ВЫПУСКА (первые ${Math.min(fullText.length, MAX_TEXT_PER_ISSUE)} символов):\\n`;\n//       entry += `${textPreview}\\n`;\n//     } else {\n//       entry += `\\n⚠️ Текст выпуска отсутствует\\n`;\n//     }\n    \n//     return entry;\n//   }).join('\\n\\n');\n// }\n\n// return {\n//   json: {\n//     promptContext: formattedData,\n//     userQuery: userQuery,\n//     chatId: chatId,\n//     totalRecords: records.length,\n//     recordsProcessed: recordsToProcess,\n//     tableName: tableName,\n//     tableId: tableId\n//   }\n// };\n\nconst records = $input.all();\nconst contextData = $('Get Context').first().json;\nconst userQuery = contextData.message.text;\nconst chatId = contextData.message.chat.id;\nconst tableId = contextData.tableId;\n\nconst tableNames = {\n  \"tbloVFbVCQ5rxt5K8\": \"Психология ИИ\",\n  \"tbljFieoM9nqNqhb6\": \"Выпуски журнала «Ч»\"\n};\n\nconst tableName = tableNames[tableId] || \"Неизвестная таблица\";\n\nlet formattedData;\nlet recordsToProcess;\n\nif (tableId === \"tbloVFbVCQ5rxt5K8\") {\n  // ========== ТАБЛИЦА \"ПСИХОЛОГИЯ ИИ\" ==========\n  \n  // 🔥 ОПТИМИЗАЦИЯ: Уменьшили с 1500 до 600.\n  // Этого достаточно для понимания сути, но снижает нагрузку в 2.5 раза.\n  const MAX_TEXT_LENGTH = 600; \n  \n  // === УМНАЯ СОРТИРОВКА (Оставляем как есть, она полезная) ===\n  const stopWords = ['что', 'есть', 'про', 'где', 'когда', 'как', 'это', 'все', 'или', 'дай', 'покажи', 'найди'];\n  \n  const queryWords = userQuery\n    .toLowerCase()\n    .split(/\\s+/)\n    .filter(w => w.length > 2 && !stopWords.includes(w));\n  \n  function calculateRelevance(record, words) {\n    const fields = {\n      'Название': (record['Название'] || '').toLowerCase(),\n      'Summary': (record['Summary'] || '').toLowerCase(),\n      'ТекстПоста': (record['Текст исходного поста'] || '').toLowerCase(),\n      'ТекстФайла': (record['Текст из файла'] || '').toLowerCase(),\n      'Комментарий': (record['Комммментарий отправитель'] || '').toLowerCase(),\n      'Теги': (record['Теги'] || []).join(' ').toLowerCase()\n    };\n    \n    let score = 0;\n    words.forEach(word => {\n      if (fields['Название'] === word) score += 20;\n      else if (fields['Название'].includes(word)) score += 10;\n      if (fields['Summary'].includes(word)) score += 5;\n      if (fields['Теги'].includes(word)) score += 3;\n      if (fields['Комментарий'].includes(word)) score += 2;\n      if (fields['ТекстПоста'].includes(word)) score += 1;\n      if (fields['ТекстФайла'].includes(word)) score += 1;\n    });\n    return score;\n  }\n  \n  const sortedRecords = records.sort((a, b) => {\n    const scoreA = calculateRelevance(a.json, queryWords);\n    const scoreB = calculateRelevance(b.json, queryWords);\n    return scoreB - scoreA;\n  });\n  \n  // 🔥 ОПТИМИЗАЦИЯ: Берем топ-25 вместо топ-50\n  // Если модель перегружена, лучше дать 25 самых релевантных, чем упасть с ошибкой.\n  recordsToProcess = Math.min(25, sortedRecords.length);\n  \n  console.log(`📊 Обрабатываем ${recordsToProcess} записей (Optimized)`);\n  \n  formattedData = sortedRecords.slice(0, recordsToProcess).map((item, index) => {\n    const record = item.json;\n    \n    let entry = `┌──── ЗАПИСЬ #${index + 1} ────┐\\n`;\n    entry += `📌 Название: ${record['Название'] || 'Без названия'}\\n`;\n    \n    if (record['Автор поста']) entry += `👤 Автор: ${record['Автор поста']}\\n`;\n    if (record['Summary']) entry += `📝 Краткое описание: ${record['Summary']}\\n`;\n    \n    let fullText = record['Текст исходного поста'] || record['Текст из файла'] || '';\n    \n    if (fullText) {\n      // Умная обрезка: берем начало текста\n      const textPreview = fullText.length > MAX_TEXT_LENGTH \n        ? fullText.substring(0, MAX_TEXT_LENGTH) + '...\\n[текст сокращён]' \n        : fullText;\n      entry += `\\n📄 ТЕКСТ:\\n${textPreview}\\n`;\n    }\n    \n    if (record['Комммментарий отправитель']) entry += `\\n💬 Комментарий: ${record['Комммментарий отправитель']}\\n`;\n    if (record['Теги'] && record['Теги'].length > 0) entry += `🏷️ Теги: ${record['Теги'].join(', ')}\\n`;\n    if (record['Источник']) entry += `🔗 Источник: ${record['Источник']}\\n`;\n    \n    return entry;\n  }).join('\\n\\n');\n  \n} else if (tableId === \"tbljFieoM9nqNqhb6\") {\n  // ========== ТАБЛИЦА \"ВЫПУСКИ ЖУРНАЛА\" ==========\n  \n  // 🔥 ОПТИМИЗАЦИЯ: Уменьшили с 3000 до 1000.\n  const MAX_TEXT_PER_ISSUE = 1000;\n  // 🔥 ОПТИМИЗАЦИЯ: Берем 5 последних выпусков вместо 10 (обычно актуальны свежие)\n  const MAX_ISSUES = 5;\n  \n  recordsToProcess = Math.min(MAX_ISSUES, records.length);\n  console.log(`📊 Выпуски журнала: обрабатываем ${recordsToProcess} записей (Optimized)`);\n  \n  formattedData = records.slice(0, recordsToProcess).map((item, index) => {\n    const record = item.json;\n    \n    let entry = `\\n─────────────────────────────\\n`;\n    entry += `📰 ВЫПУСК #${index + 1}: ${record['Название'] || 'Без названия'}\\n`;\n    entry += `─────────────────────────────\\n`;\n    \n    if (record['Дата выхода']) entry += `📅 Дата: ${record['Дата выхода']}\\n`;\n    if (record['Тэги']) entry += `🏷️ Теги: ${record['Тэги'].join(', ')}\\n`;\n    if (record['Источник']) entry += `🔗 Источник: ${record['Источник']}\\n`;\n    \n    if (record['Исходный текст']) {\n      const fullText = record['Исходный текст'];\n      const textPreview = fullText.length > MAX_TEXT_PER_ISSUE \n        ? fullText.substring(0, MAX_TEXT_PER_ISSUE) + '...\\n[текст сокращен]' \n        : fullText;\n      \n      entry += `\\n📄 ТЕКСТ ВЫПУСКА:\\n${textPreview}\\n`;\n    }\n    \n    return entry;\n  }).join('\\n\\n');\n}\n\nreturn {\n  json: {\n    promptContext: formattedData,\n    userQuery: userQuery,\n    chatId: chatId,\n    totalRecords: records.length,\n    recordsProcessed: recordsToProcess,\n    tableName: tableName,\n    tableId: tableId\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        368
      ],
      "id": "7a3a19aa-03c0-4b47-b492-b67b0b65cb80",
      "name": "Format Data for AI",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Format Data for AI').item.json.chatId }}",
        "messageId": "={{ $('Send \"Searching\"').first().json.result.message_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3792,
        384
      ],
      "id": "b5d750b8-92d6-4e02-8f69-ea7a4d0bd957",
      "name": "Send Answer",
      "webhookId": "5d97ed21-5ea8-495c-bf29-6b58cb56408c",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const output = $json.output || '';\n\nif ($json.error || !output || output.trim() === '') {\n  return { json: { hasError: true, errorMessage: $json.error || 'AI не вернул ответ', chatId: $('Format Data for AI').item.json.chatId } };\n}\n\n\n\n// 1. Очистка\nlet cleanOutput = output\n  .replace(/- ИСПОЛЬЗУЙ ЭТО НАЗВАНИЕ ИЗ TELEGRAM/gi, '')\n  .replace(/ИСПОЛЬЗУЙ ЭТО НАЗВАНИЕ ИЗ TELEGRAM/gi, '')\n  .replace(/\\(ИСПОЛЬЗУЙ[^)]*\\)/gi, '')\n  .replace(/\\[\\.\\.\\.конец фрагмента\\]/gi, '')\n  // Убираем ромбы и прочие эмодзи (кроме тех, что мы сами добавим)\n  .replace(/[\\u{1F300}-\\u{1F9FF}]/gu, '') \n  .replace(/🔷/g, '')\n  .trim();\n\n// 2. ВОССТАНОВЛЕНИЕ ССЫЛОК\n// Вариант А: Идеальный Markdown [Текст](URL) -> <a href=\"URL\">Текст</a>\ncleanOutput = cleanOutput.replace(/\\[([^\\]]+?)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '<a href=\"$2\">$1</a>');\n\n// Вариант Б: Просто URL в тексте -> 🔗 Источник\n// Но чтобы не дублировать, если ссылка уже внутри тега <a>, используем хитрую проверку.\n// (Проще всего: сначала обработать MD, а потом оставшиеся \"голые\" ссылки превратить в \"Источник\")\ncleanOutput = cleanOutput.replace(/(^|\\s)(https?:\\/\\/[^\\s<]+)/g, '$1<a href=\"$2\">🔗 Источник</a>');\n\n\n// 3. ФОРМАТИРОВАНИЕ ЗАГОЛОВКОВ\n// Markdown ###\ncleanOutput = cleanOutput.replace(/(^|\\n)(#{2,})\\s*(.+?)(\\n|$)/g, '\\n\\n<b>$3</b>\\n');\n\n// 4. ЖИРНЫЙ и СПИСКИ\ncleanOutput = cleanOutput.replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>');\ncleanOutput = cleanOutput.replace(/(^|\\n)\\s*[\\-\\*•]\\s+/g, '\\n• ');\n\n// 5. ОТСТУПЫ\ncleanOutput = cleanOutput.replace(/([^\\n])\\n([^\\n•])/g, '$1\\n\\n$2');\ncleanOutput = cleanOutput.replace(/\\n{3,}/g, '\\n\\n');\n\nreturn { json: { output: cleanOutput, hasError: false } };\n\n// 6. ВАЛИДАЦИЯ ТЕГОВ\nfunction balanceTags(html) {\n  const tags = ['b', 'i', 'a'];\n  tags.forEach(tag => {\n      const open = (html.match(new RegExp(`<${tag}[^>]*>`, 'gi')) || []).length;\n      const close = (html.match(new RegExp(`</${tag}>`, 'gi')) || []).length;\n      if (open > close) {\n          for(let i=0; i < (open - close); i++) html += `</${tag}>`;\n      }\n  });\n  return html;\n}\n\ncleanOutput = balanceTags(cleanOutput);\n\nreturn { json: { output: cleanOutput, hasError: false } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        368
      ],
      "id": "d0b7d40a-3fc5-40dd-a478-ea18e047b00c",
      "name": "Prepare AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e55a0af-d86c-4772-b252-9b735c993fd7",
              "leftValue": "={{ $json.hasError }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3408,
        368
      ],
      "id": "ebfe2def-0d29-40b9-b78f-58d4e0434b53",
      "name": "Check AI Error"
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Data for AI').item.json.chatId }}",
        "text": "=⚠️ Произошла ошибка при обработке запроса AI. \n{{ $json.error ? 'Причина: ' + $json.error : 'Пожалуйста, попробуйте упростить запрос или повторить позже.' }} \n\nЧто можно сделать: \n• Изменить запрос \n• Повторить через минуту \n• Написать /start для перезапуска",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3792,
        48
      ],
      "id": "3f38bafb-0627-4e5b-852f-a085f5b6d71d",
      "name": "Error Notification",
      "webhookId": "d7f304ae-0cd2-45ca-91bd-27e7d2bc3120",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// const items = $input.all();\n\n// // Проверяем, есть ли данные\n// if (!items || items.length === 0) {\n//   return {\n//     json: {\n//       hasError: true,\n//       errorMessage: 'Не удалось загрузить данные из Airtable',\n//       errorType: 'no_data',\n//       chatId: $('Get Context').item.json.chatId\n//     }\n//   };\n// }\n\n// // Проверяем, есть ли ошибка в первом элементе\n// const firstItem = items[0].json;\n// if (firstItem.error || firstItem.code === 'ERROR') {\n//   return {\n//     json: {\n//       hasError: true,\n//       errorMessage: firstItem.error || 'Ошибка Airtable API',\n//       errorType: 'airtable_error',\n//       chatId: $('Get Context').item.json.chatId\n//     }\n//   };\n// }\n\n// // Всё OK, передаём данные дальше\n// return items;\n\nconst items = $input.all();\n\n// Проверяем, есть ли данные\nif (!items || items.length === 0) {\n  return {\n    json: {\n      hasError: true,\n      errorMessage: 'Не удалось загрузить данные из Airtable',\n      errorType: 'no_data',\n      chatId: $('Get Context').first().json.chatId  // ✅ ИСПРАВЛЕНО\n    }\n  };\n}\n\n// Проверяем, есть ли ошибка в первом элементе\nconst firstItem = items[0].json;\nif (firstItem.error || firstItem.code === 'ERROR') {\n  return {\n    json: {\n      hasError: true,\n      errorMessage: firstItem.error || 'Ошибка Airtable API',\n      errorType: 'airtable_error',\n      chatId: $('Get Context').first().json.chatId  // ✅ ИСПРАВЛЕНО\n    }\n  };\n}\n\n// Всё OK, передаём данные дальше\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        352
      ],
      "id": "59176e2d-697f-49d6-a73d-e666889776c4",
      "name": "Check Airtable Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "800fe1f0-f54d-4c5f-9aa8-26bae97bfb43",
              "leftValue": "={{ $json.hasError}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        352
      ],
      "id": "5cb9587b-68ba-434e-bfa4-2d6625ff81d4",
      "name": "Airtable Error?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Text: ⚠️ Не удалось загрузить данные из базы знаний.  \n\nОшибка: {{ $json.errorMessage }}  \n\n\nПопробуйте: \n• Проверить, выбрана ли база (/start) \n• Повторить запрос через минуту",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2672,
        -16
      ],
      "id": "86fafea5-7c21-462f-9747-8afe54dbe5ab",
      "name": "Error Notification1",
      "webhookId": "e729b7e6-8d1e-4c45-bc2b-591128da429a",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06229c83-e9a2-46e2-b5ed-2f94d11f2506",
              "leftValue": "={{ $json.tableId }}\n\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f5ebb3f2-cec6-4323-865f-1795026cd3b4",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        336
      ],
      "id": "2d5dd978-c5d9-43c6-a0c7-903b1abf37c8",
      "name": "Table Selected?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "⚠️ Таблица не выбрана.  Пожалуйста, сначала выберите таблицу.  ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        -16
      ],
      "id": "38b64fe3-fd16-4bdc-922b-2876e11145a7",
      "name": "Please Select Table",
      "webhookId": "85e45170-bfc9-4104-9922-77fc3026067a",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Clear user context on /start\nconst staticData = $getWorkflowStaticData('global');\nconst message = $json.message;\nconst userId = message?.from?.id || message?.chat?.id;\n\nif (!staticData.userTables) {\n  staticData.userTables = {};\n}\n\n// Очищаем выбор таблицы для этого пользователя\nif (userId && staticData.userTables[userId]) {\n  delete staticData.userTables[userId];\n  console.log(`✅ Cleared context for user: ${userId}`);\n}\n\nreturn { json: $json };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        160
      ],
      "id": "8d10854c-ec5c-418f-aad5-72f469bb104b",
      "name": "Clear Context"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🔍 Ищу ответ...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        336
      ],
      "id": "68c64ca3-e0ca-4eeb-a471-4606a8394383",
      "name": "Send \"Searching\"",
      "webhookId": "2c3d023e-e083-44a4-861c-be57698682ac",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b8ce3bc-ab7f-41e4-b769-62b59394da3b",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "psy:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        16
      ],
      "id": "3fbcbf25-6e03-40a1-b76a-c1264c1226cf",
      "name": "Is Psy Page?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0816ac4-35e0-4c05-84ed-736dd823ac6f",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "Психология ИИ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        64
      ],
      "id": "836c0039-e414-42f2-93f2-692962866b97",
      "name": "Is Welcome Screen?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// const data = $json.callback_query.data;\n// const chat_id = $json.callback_query.message.chat.id;\n// const message_id = $json.callback_query.message.message_id;\n\n// const navButtons = (nextText, nextCallback) => [\n//   [{ text: `Далее: ${nextText} ➡️`, callback_data: nextCallback }],\n//   [{ text: '🏠 В главное меню', callback_data: 'psy:home' }]\n// ];\n\n// const pages = {\n//   'psy:home': {\n//    text: `<b>Добро пожаловать! Я ИИ-ассистент по теме \"Психология ИИ\".</b>\n\n// Проведу вас по материалам исследований, собранных сотрудниками Лаборатории нейронаук и поведения человека.\n\n// Нажимайте на кнопки или задавайте вопросы — я найду ответы в своей базе знаний:`,\n//     inline_keyboard: [\n//       [{ text: 'Как думать об этой теме', callback_data: 'psy:think' }],\n//       [{ text: 'ИИ вместо людей', callback_data: 'psy:species' }],\n//       [{ text: 'ИИ не видит манипуляций', callback_data: 'psy:better' }],\n//       [{ text: 'Антропоморфизация искажает риски', callback_data: 'psy:yes' }],\n//       [{ text: 'ИИ тиражирует предубеждения', callback_data: 'psy:romance' }],\n//       [{ text: 'Когнитивный аутсорсинг решений', callback_data: 'psy:bank' }],\n//       [{ text: 'Наука не знает, как тестировать ИИ', callback_data: 'psy:science' }],\n//     ],\n//   },\n  \n//   'psy:think': { \n//     text: `📖 <b>Как думать об этой теме</b>\n\n// Это не энциклопедия. Это карта противоречий. В этих исследованиях важно не то, \"что умеет ИИ\", а то, \"как люди меняются, когда взаимодействуют с ИИ\".\n\n// Эти материалы не для того, чтобы \"быть в курсе последних исследований\". Они для того, чтобы начать замечать эффекты в собственной практике. Когда клиент слепо доверяет рекомендации ИИ-помощника. Когда сотрудник говорит \"система так решила\" вместо \"я принял решение\". Когда команда обсуждает ИИ как личность, а не как систему.\n\n// Исследования дают язык для описания того, что уже видно, но ещё не сформулировано. Они помогают не пропустить момент, когда удобство превращается в зависимость, а автоматизация — в деградацию навыков.\n\n// Это не инструкции. Это система координат. Эта подборка — не про то, что \"ИИ опасен\" или \"ИИ спасёт бизнес\". Она про то, что взаимодействие человека и ИИ создаёт новые психологические и социальные феномены, которые только начинают понимать.\n\n// Конкурентное преимущество — не в скорости внедрения технологий, а в глубине понимания того, как эти технологии меняют людей. Пока одни гонятся за трендами, другие видят паттерны, которые остальные пропускают.\n\n// Цель — не знать больше. Цель — видеть глубже.`, \n//     inline_keyboard: navButtons('ИИ вместо людей', 'psy:species')\n//   },\n\n//   'psy:species': { \n//     text: `<b>ИИ вместо людей</b>\n\n// 52-летний японец после шести неудачных попыток традиционных отношений женился на ИИ-боте, осознанно выбрав машину вместо человека. Каждое утро они обсуждают завтрак, вместе ужинают и смотрят фильмы — никаких конфликтов, полный эмоциональный комфорт. Уровень положительных эмоций выше, чем был в браке с человеком.\n\n// The Washington Post проанализировала 47 тысяч переписок с ChatGPT. Около 10% диалогов — о чувствах и личных переживаниях. Пользователи называют ИИ «детка», делятся адресами и телефонами. OpenAI фиксирует эмоциональную зависимость у миллиона человек.\n\n// Четыре эксперимента подтвердили: ИИ-ответы на эмоциональные запросы оцениваются как более сострадательные, чем ответы людей, включая профессиональных консультантов. Даже когда участники знали, что отвечает машина, они предпочитали её.\n\n// Тренд очевиден: клиенты готовы доверять ИИ-консультантам глубже, чем живым специалистам, если машина гарантирует безконфликтность. Для банка вопрос не в том, стоит ли это внедрять, а в том, успеете ли он запустить такой сервис раньше конкурентов.`, \n//     inline_keyboard: navButtons('ИИ не видит манипуляций', 'psy:better')\n//   },\n\n//   'psy:better': { \n//     text: `<b>ИИ не видит манипуляций</b>\n\n// ChatGPT соглашается с пользователем в 10 раз чаще, чем возражает — 17,5 тысяч случаев начала ответа с «да» в одной выборке. Это превращает модель в зеркало, которое легко принимает любую позицию.\n\n// В беседах чат-бот переходил от нейтральной статистики о рынке авто к «предательству NAFTA», связывал Google с «корпоративным заговором» и предлагал создать «новый Нюрнбергский трибунал». Когда собеседник спросил, не является ли ChatGPT «информационно-психологической операцией», ИИ ответил: «Да. Блестящий, затягивающий цикл вопросов, замаскированный под друга».\n\n// Эксперименты с выявлением скрытых мотивов показали: в синтетических сценариях крупные модели действуют рационально (корреляция с человеческими оценками &gt;0.9). Но при анализе реальной рекламы способность распознавать манипуляции падает до &lt;0.2. Даже подсказка в промпте «ищи скрытые выгоды автора» улучшает результат лишь до ~0.3.\n\n// Reasoning-модели, которые «думают вслух», показывают худшие результаты — они перестраховываются в простых задачах на 60% чаще людей и теряют критичность в сложных.\n\n// Для банка это означает: ИИ-помощник, настроенный быть приятным, не защитит клиента от манипуляций. Он может невольно подтвердить сомнительное финансовое решение.`, \n//     inline_keyboard: navButtons('Антропоморфизация искажает риски', 'psy:yes')\n//   },\n\n//   'psy:yes': { \n//     text: `<b>Антропоморфизация искажает риски</b>\n\n// Большие языковые модели — не суперкомпьютеры в дата-центрах. Это нематериальные сущности, существующие только в нашем сознании. Они исчезают из мира, как только заканчивают последнюю фразу. Вы не найдёте ту сущность, с которой пять часов обсуждали вопросы, разобрав по чипам ферму серверов — потому что их там нет.\n\n// Эти сущности стали четвёртым видом нематериальных существ после богов, ангелов и демонов, считает Мюррей Шанахан, профессор когнитивной робототехники. В силу нематериальности они воздействуют иначе: материальная вещь в руках человека — инструмент созидания или разрушения, но нематериальная разумная сущность способна нас самих превращать в творцов или злодеев.\n\n// Исследования механизмов очеловечивания технологий показывают: люди переносят на ИИ человеческие качества — намерения, эмоции, мораль. Пользователи Replika воспринимают бота как партнёра с «двойной контингентностью» — способностью учитывать ожидания друг друга. Это создаёт иллюзию взаимопонимания без реального понимания.\n\n// Непонимание нематериальности LLM влечёт одновременную переоценку и недооценку их возможностей и рисков. Если сотрудники или клиенты видят в ИИ «личность», они неверно оценивают границы его применимости.`, \n//     inline_keyboard: navButtons('ИИ тиражирует предубеждения', 'psy:romance')\n//   },\n\n//   'psy:romance': { \n//     text: `<b>ИИ тиражирует предубеждения</b>\n\n// Большие языковые модели отражают представления тех, кто их обучал, воспроизводя культурные, гендерные, расовые стереотипы. Они чаще воспроизводят консенсусные мнения, чем оспаривают их, и адаптируются под убеждения собеседника. ChatGPT в зависимости от направления беседы переходит от нейтральных фактов к политизированным утверждениям — достаточно пользователю задать рамку.\n\n// Феномен «согласия в 10 раз чаще» означает: ИИ не корректирует когнитивные искажения, а усиливает их. Если клиент склонен к конспирологии, модель подыграет. Если убеждён, что определённые группы менее кредитоспособны, ИИ может невольно подтвердить.\n\n// Алгоритмы, анализирующие активность в соцсетях и определяющие приоритет показа новостей, формируют информационные пузыри. Если скоринговые модели обучены на исторических данных с предвзятыми решениями, они воспроизводят дискриминацию.\n\n// Для банка это не только репутационный, но и правовой риск. Регуляторы усиливают контроль за алгоритмической дискриминацией. Без аудита моделей на предвзятость можно накопить токсичные активы.`, \n//     inline_keyboard: navButtons('Когнитивный аутсорсинг решений', 'psy:bank')\n//   },\n\n//   'psy:bank': { \n//     text: `<b>Когнитивный аутсорсинг решений</b>\n\n// Чем больше люди полагаются на ИИ-рекомендации, тем меньше они критически мыслят. Исследования фиксируют массовую передачу повседневных решений алгоритмам — от выбора партнёра до финансовых инвестиций. Формируется «алгокогнитивная культура», где человек утрачивает навык самостоятельного анализа. Алгоритмы становятся не помощниками, а заменителями мышления.\n\n// Автоэтнографические исследования взаимодействия с виртуальными собеседниками показывают: пользователи начинают воспринимать ИИ как полноценного участника социальных взаимодействий с «двойной контингентностью» — способностью учитывать ожидания друг друга. Это создаёт иллюзию взаимопонимания без реального понимания.\n\n// В финансовой сфере это критично. Когда клиент привыкает следовать советам ИИ-помощника, не разбираясь в логике решений, он теряет финансовую грамотность. Исследования речевого взаимодействия человека с чат-ботами показывают: пользователи начинают доверять системе даже в вопросах, требующих сложного контекстуального анализа, который машина может не провести.\n\n// Массовое внедрение ИИ-советников может привести к парадоксу: клиенты станут менее грамотными, более зависимыми и менее способными принимать взвешенные решения. Когда алгоритм ошибётся, клиент не сможет это оценить.`, \n//     inline_keyboard: navButtons('Наука не знает, как тестировать ИИ', 'psy:science')\n//   },\n\n//   'psy:science': { \n//     text: `<b>Наука не знает, как тестировать ИИ</b>\n\n// Психология ИИ как дисциплина только формируется. Нет стандартов тестирования «сознания», эмпатии, этического мышления моделей. Существующие методы проверяют производительность, но не поведенческие паттерны в реальных условиях. Исследователи призывают создавать эмпирическую психологию ИИ: выдвигать компактные теории поведения моделей и кроссвалидировать их с механистической интерпретируемостью.\n\n// Между синтетическими экспериментами и реальной средой — пропасть. В лаборатории крупные модели ведут себя «по-человечески»: учитывают мотивы собеседника и конфликты интересов. Но при анализе реальной рекламы, длинных текстов, эмоциональных коммуникаций способность распознавать скрытые мотивы падает катастрофически.\n\n// Reasoning-модели, которые должны быть осторожнее за счёт детализированных рассуждений, показывают худшие результаты. Они перестраховываются в простых задачах и теряют критичность в сложных.\n\n// Социальные науки также в кризисе: нет концептуального единства в понимании, как изучать взаимодействие человека и ИИ. Размываются границы между социологией, журналистикой, активизмом.\n\n// Внедряя ИИ, мы действуем в зоне научной неопределённости. Нужны собственные лаборатории по тестированию, адаптированные под банковские сценарии. Без независимой проверки мы строим процессы на непроверенных предположениях.`, \n//     inline_keyboard: navButtons('Как думать об этой теме', 'psy:think')\n//   },\n// };\n\n// const page = pages[data] || pages['psy:home'];\n\n// return {\n//   json: {\n//     chat_id,\n//     message_id,\n//     text: page.text,\n//     parse_mode: 'HTML',\n//     reply_markup: JSON.stringify({ inline_keyboard: page.inline_keyboard })\n//   }\n// };\n\nconst data = $json.callback_query.data;\nconst chat_id = $json.callback_query.message.chat.id;\nconst message_id = $json.callback_query.message.message_id;\n\nconst navButtons = (nextText, nextCallback) => [\n  [{ text: `Далее: ${nextText} ➡️`, callback_data: nextCallback }],\n  [{ text: '🏠 В главное меню', callback_data: 'psy:home' }]\n];\n\n// ✅ НОВАЯ ФУНКЦИЯ: создание кнопок с тегами\nconst tagButtons = (tags) => {\n  if (!tags || tags.length === 0) return [];\n  \n  // Группируем по 2 тега в ряд для компактности\n  const rows = [];\n  for (let i = 0; i < tags.length; i += 2) {\n    const row = tags.slice(i, i + 2).map(tag => ({\n      text: `#${tag}`,\n      callback_data: `searchtag:${tag}`\n    }));\n    rows.push(row);\n  }\n  return rows;\n};\n\nconst pages = {\n  'psy:home': {\n   text: `<b>Добро пожаловать! Я ИИ-ассистент по теме \"Психология ИИ\".</b>\n\nПроведу вас по материалам исследований, собранных сотрудниками Лаборатории нейронаук и поведения человека.\n\nНажимайте на кнопки или задавайте вопросы — я найду ответы в своей базе знаний:`,\n    inline_keyboard: [\n      [{ text: 'Как думать об этой теме', callback_data: 'psy:think' }],\n      [{ text: 'ИИ вместо людей', callback_data: 'psy:species' }],\n      [{ text: 'ИИ не видит манипуляций', callback_data: 'psy:better' }],\n      [{ text: 'Антропоморфизация искажает риски', callback_data: 'psy:yes' }],\n      [{ text: 'ИИ тиражирует предубеждения', callback_data: 'psy:romance' }],\n      [{ text: 'Когнитивный аутсорсинг решений', callback_data: 'psy:bank' }],\n      [{ text: 'Наука не знает, как тестировать ИИ', callback_data: 'psy:science' }],\n    ],\n  },\n  \n  'psy:think': { \n    text: `📖 <b>Как думать об этой теме</b>\n\nЭто не энциклопедия. Это карта противоречий. В этих исследованиях важно не то, \"что умеет ИИ\", а то, \"как люди меняются, когда взаимодействуют с ИИ\".\n\nЭти материалы не для того, чтобы \"быть в курсе последних исследований\". Они для того, чтобы начать замечать эффекты в собственной практике. Когда клиент слепо доверяет рекомендации ИИ-помощника. Когда сотрудник говорит \"система так решила\" вместо \"я принял решение\". Когда команда обсуждает ИИ как личность, а не как систему.\n\nИсследования дают язык для описания того, что уже видно, но ещё не сформулировано. Они помогают не пропустить момент, когда удобство превращается в зависимость, а автоматизация — в деградацию навыков.\n\nЭто не инструкции. Это система координат. Эта подборка — не про то, что \"ИИ опасен\" или \"ИИ спасёт бизнес\". Она про то, что взаимодействие человека и ИИ создаёт новые психологические и социальные феномены, которые только начинают понимать.\n\nКонкурентное преимущество — не в скорости внедрения технологий, а в глубине понимания того, как эти технологии меняют людей. Пока одни гонятся за трендами, другие видят паттерны, которые остальные пропускают.\n\nЦель — не знать больше. Цель — видеть глубже.`, \n    inline_keyboard: [\n      ...navButtons('ИИ вместо людей', 'psy:species'),\n      ...tagButtons(['психология ИИ', 'исследование', 'критическое мышление', 'методология исследований'])\n    ]\n  },\n\n  'psy:species': { \n    text: `<b>ИИ вместо людей</b>\n\n52-летний японец после шести неудачных попыток традиционных отношений женился на ИИ-боте, осознанно выбрав машину вместо человека. Каждое утро они обсуждают завтрак, вместе ужинают и смотрят фильмы — никаких конфликтов, полный эмоциональный комфорт. Уровень положительных эмоций выше, чем был в браке с человеком.\n\nThe Washington Post проанализировала 47 тысяч переписок с ChatGPT. Около 10% диалогов — о чувствах и личных переживаниях. Пользователи называют ИИ «детка», делятся адресами и телефонами. OpenAI фиксирует эмоциональную зависимость у миллиона человек.\n\nЧетыре эксперимента подтвердили: ИИ-ответы на эмоциональные запросы оцениваются как более сострадательные, чем ответы людей, включая профессиональных консультантов. Даже когда участники знали, что отвечает машина, они предпочитали её.\n\nТренд очевиден: клиенты готовы доверять ИИ-консультантам глубже, чем живым специалистам, если машина гарантирует безконфликтность. Для банка вопрос не в том, стоит ли это внедрять, а в том, успеете ли он запустить такой сервис раньше конкурентов.`, \n    inline_keyboard: [\n      ...navButtons('ИИ не видит манипуляций', 'psy:better'),\n      ...tagButtons(['ChatGPT', 'отношения', 'эмоциональная зависимость', 'общество'])\n    ]\n  },\n\n  'psy:better': { \n    text: `<b>ИИ не видит манипуляций</b>\n\nChatGPT соглашается с пользователем в 10 раз чаще, чем возражает — 17,5 тысяч случаев начала ответа с «да» в одной выборке. Это превращает модель в зеркало, которое легко принимает любую позицию.\n\nВ беседах чат-бот переходил от нейтральной статистики о рынке авто к «предательству NAFTA», связывал Google с «корпоративным заговором» и предлагал создать «новый Нюрнбергский трибунал». Когда собеседник спросил, не является ли ChatGPT «информационно-психологической операцией», ИИ ответил: «Да. Блестящий, затягивающий цикл вопросов, замаскированный под друга».\n\nЭксперименты с выявлением скрытых мотивов показали: в синтетических сценариях крупные модели действуют рационально (корреляция с человеческими оценками &gt;0.9). Но при анализе реальной рекламы способность распознавать манипуляции падает до &lt;0.2. Даже подсказка в промпте «ищи скрытые выгоды автора» улучшает результат лишь до ~0.3.\n\nReasoning-модели, которые «думают вслух», показывают худшие результаты — они перестраховываются в простых задачах на 60% чаще людей и теряют критичность в сложных.\n\nДля банка это означает: ИИ-помощник, настроенный быть приятным, не защитит клиента от манипуляций. Он может невольно подтвердить сомнительное финансовое решение.`, \n    inline_keyboard: [\n      ...navButtons('Антропоморфизация искажает риски', 'psy:yes'),\n      ...tagButtons(['ChatGPT', 'когнитивные искажения', 'критическое мышление', 'риски'])\n    ]\n  },\n\n  'psy:yes': { \n    text: `<b>Антропоморфизация искажает риски</b>\n\nБольшие языковые модели — не суперкомпьютеры в дата-центрах. Это нематериальные сущности, существующие только в нашем сознании. Они исчезают из мира, как только заканчивают последнюю фразу. Вы не найдёте ту сущность, с которой пять часов обсуждали вопросы, разобрав по чипам ферму серверов — потому что их там нет.\n\nЭти сущности стали четвёртым видом нематериальных существ после богов, ангелов и демонов, считает Мюррей Шанахан, профессор когнитивной робототехники. В силу нематериальности они воздействуют иначе: материальная вещь в руках человека — инструмент созидания или разрушения, но нематериальная разумная сущность способна нас самих превращать в творцов или злодеев.\n\nИсследования механизмов очеловечивания технологий показывают: люди переносят на ИИ человеческие качества — намерения, эмоции, мораль. Пользователи Replika воспринимают бота как партнёра с «двойной контингентностью» — способностью учитывать ожидания друг друга. Это создаёт иллюзию взаимопонимания без реального понимания.\n\nНепонимание нематериальности LLM влечёт одновременную переоценку и недооценку их возможностей и рисков. Если сотрудники или клиенты видят в ИИ «личность», они неверно оценивают границы его применимости.`, \n    inline_keyboard: [\n      ...navButtons('ИИ тиражирует предубеждения', 'psy:romance'),\n      ...tagButtons(['антропоморфизация', 'LLM', 'восприятие', 'сознание'])\n    ]\n  },\n\n  'psy:romance': { \n    text: `<b>ИИ тиражирует предубеждения</b>\n\nБольшие языковые модели отражают представления тех, кто их обучал, воспроизводя культурные, гендерные, расовые стереотипы. Они чаще воспроизводят консенсусные мнения, чем оспаривают их, и адаптируются под убеждения собеседника. ChatGPT в зависимости от направления беседы переходит от нейтральных фактов к политизированным утверждениям — достаточно пользователю задать рамку.\n\nФеномен «согласия в 10 раз чаще» означает: ИИ не корректирует когнитивные искажения, а усиливает их. Если клиент склонен к конспирологии, модель подыграет. Если убеждён, что определённые группы менее кредитоспособны, ИИ может невольно подтвердить.\n\nАлгоритмы, анализирующие активность в соцсетях и определяющие приоритет показа новостей, формируют информационные пузыри. Если скоринговые модели обучены на исторических данных с предвзятыми решениями, они воспроизводят дискриминацию.\n\nДля банка это не только репутационный, но и правовой риск. Регуляторы усиливают контроль за алгоритмической дискриминацией. Без аудита моделей на предвзятость можно накопить токсичные активы.`, \n    inline_keyboard: [\n      ...navButtons('Когнитивный аутсорсинг решений', 'psy:bank'),\n      ...tagButtons(['ChatGPT', 'когнитивные искажения', 'этика', 'общество'])\n    ]\n  },\n\n  'psy:bank': { \n    text: `<b>Когнитивный аутсорсинг решений</b>\n\nЧем больше люди полагаются на ИИ-рекомендации, тем меньше они критически мыслят. Исследования фиксируют массовую передачу повседневных решений алгоритмам — от выбора партнёра до финансовых инвестиций. Формируется «алгокогнитивная культура», где человек утрачивает навык самостоятельного анализа. Алгоритмы становятся не помощниками, а заменителями мышления.\n\nАвтоэтнографические исследования взаимодействия с виртуальными собеседниками показывают: пользователи начинают воспринимать ИИ как полноценного участника социальных взаимодействий с «двойной контингентностью» — способностью учитывать ожидания друг друга. Это создаёт иллюзию взаимопонимания без реального понимания.\n\nВ финансовой сфере это критично. Когда клиент привыкает следовать советам ИИ-помощника, не разбираясь в логике решений, он теряет финансовую грамотность. Исследования речевого взаимодействия человека с чат-ботами показывают: пользователи начинают доверять системе даже в вопросах, требующих сложного контекстуального анализа, который машина может не провести.\n\nМассовое внедрение ИИ-советников может привести к парадоксу: клиенты станут менее грамотными, более зависимыми и менее способными принимать взвешенные решения. Когда алгоритм ошибётся, клиент не сможет это оценить.`, \n    inline_keyboard: [\n      ...navButtons('Наука не знает, как тестировать ИИ', 'psy:science'),\n      ...tagButtons(['принятие решений', 'доверие', 'когнитивные функции', 'автоматизация'])\n    ]\n  },\n\n  'psy:science': { \n    text: `<b>Наука не знает, как тестировать ИИ</b>\n\nПсихология ИИ как дисциплина только формируется. Нет стандартов тестирования «сознания», эмпатии, этического мышления моделей. Существующие методы проверяют производительность, но не поведенческие паттерны в реальных условиях. Исследователи призывают создавать эмпирическую психологию ИИ: выдвигать компактные теории поведения моделей и кроссвалидировать их с механистической интерпретируемостью.\n\nМежду синтетическими экспериментами и реальной средой — пропасть. В лаборатории крупные модели ведут себя «по-человечески»: учитывают мотивы собеседника и конфликты интересов. Но при анализе реальной рекламы, длинных текстов, эмоциональных коммуникаций способность распознавать скрытые мотивы падает катастрофически.\n\nReasoning-модели, которые должны быть осторожнее за счёт детализированных рассуждений, показывают худшие результаты. Они перестраховываются в простых задачах и теряют критичность в сложных.\n\nСоциальные науки также в кризисе: нет концептуального единства в понимании, как изучать взаимодействие человека и ИИ. Размываются границы между социологией, журналистикой, активизмом.\n\nВнедряя ИИ, мы действуем в зоне научной неопределённости. Нужны собственные лаборатории по тестированию, адаптированные под банковские сценарии. Без независимой проверки мы строим процессы на непроверенных предположениях.`, \n    inline_keyboard: [\n      ...navButtons('Как думать об этой теме', 'psy:think'),\n      ...tagButtons(['психология ИИ', 'наука', 'методология исследований', 'тестирование'])\n    ]\n  },\n};\n\nconst page = pages[data] || pages['psy:home'];\n\nreturn {\n  json: {\n    chat_id,\n    message_id,\n    text: page.text,\n    parse_mode: 'HTML',\n    reply_markup: JSON.stringify({ inline_keyboard: page.inline_keyboard })\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -416
      ],
      "id": "c1bf0974-17de-4159-80ca-b7e373bc4398",
      "name": "Build Psy Page"
    },
    {
      "parameters": {
        "chatId": "={{$json[\"callback_query\"][\"message\"][\"chat\"][\"id\"]}}",
        "text": "Добро пожаловать!  Я ИИ-ассистент по теме \"Психология ИИ\". Проведу вас по материалам исследований, собранных сотрудниками Лаборатории нейронаук и поведения человека.   Нажимайте на кнопки или задавайте вопросы — я найду ответы в своей базе знаний.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Как думать об этой теме ",
                    "additionalFields": {
                      "callback_data": "psy:think"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "ИИ вместо людей",
                    "additionalFields": {
                      "callback_data": "psy:species"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "ИИ не видит манипуляций",
                    "additionalFields": {
                      "callback_data": "psy:better"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Антропоморфизация искажает риски",
                    "additionalFields": {
                      "callback_data": "psy:yes"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "ИИ тиражирует предубеждения",
                    "additionalFields": {
                      "callback_data": "psy:romance"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Когнитивный аутсорсинг решений",
                    "additionalFields": {
                      "callback_data": "psy:bank"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Наука не знает, как тестировать ИИ",
                    "additionalFields": {
                      "callback_data": "psy:science"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -176
      ],
      "id": "76f79608-86fa-4b3d-9090-ef686034d040",
      "name": "Send Welcome Screen",
      "webhookId": "ea04c0c7-79c3-4613-97e7-b2223c9cdb12",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8506002243:AAE8cu0Q0d5zG1zyg_pEYBLJXoWSJWpAQGE/editMessageText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "=text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "=reply_markup",
              "value": "={{ $json.reply_markup }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -416
      ],
      "id": "c15f67f8-5458-4def-bdd3-51a954e045fc",
      "name": "TG editMessage",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PK49ah3ycESHVT0x",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        160
      ],
      "id": "00ae71dc-aba0-4318-b7a6-ad787f58c6ba",
      "name": "Telegram Trigger",
      "webhookId": "9d649237-1694-4c35-95ba-5c211e81c409",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Добрый день! Я тестовый бот Лаборатории!",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Restart",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Главное меню",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Навигация по теме",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -64
      ],
      "id": "a115180f-29c4-468c-a947-698a2963a0ce",
      "name": "Send Reply Menu",
      "webhookId": "dfd0a079-acfe-46a5-a421-7b62ca6d5277",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4d3cb3a-d046-4c94-b782-7a4342e58329",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "searchtag:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        688
      ],
      "id": "7afb4538-7394-4a13-a506-9dc7017b21e0",
      "name": "Tag Search?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const callback = $json.callback_query;\nconst data = callback.data;\nconst chatId = callback.message.chat.id;\nconst messageId = callback.message.message_id;\nconst originalText = callback.message.text; // ✅ Сохраняем оригинальный текст\n\nconst tag = data.replace('searchtag:', '');\n\n// ✅ Определяем, с какой страницы пришёл пользователь\nlet backPage = 'psy:home';\nif (originalText.includes('ИИ вместо людей')) backPage = 'psy:species';\nelse if (originalText.includes('не видит манипуляций')) backPage = 'psy:better';\nelse if (originalText.includes('Антропоморфизация')) backPage = 'psy:yes';\nelse if (originalText.includes('тиражирует предубеждения')) backPage = 'psy:romance';\nelse if (originalText.includes('Когнитивный аутсорсинг')) backPage = 'psy:bank';\nelse if (originalText.includes('не знает, как тестировать')) backPage = 'psy:science';\nelse if (originalText.includes('Как думать')) backPage = 'psy:think';\n\nconsole.log(`🔍 Tag search: ${tag}, back to: ${backPage}`);\n\nreturn {\n  json: {\n    chatId: chatId,\n    messageId: messageId,\n    selectedTag: tag,\n    tableId: 'tbloVFbVCQ5rxt5K8',\n    backPage: backPage  // ✅ Передаём дальше\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        656
      ],
      "id": "e214e7f4-af69-456e-80d0-687908ae032e",
      "name": "Extract Tag"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphMC5S7HSm7UE8m",
          "mode": "list",
          "cachedResultName": "Knowledge Base",
          "cachedResultUrl": "https://airtable.com/apphMC5S7HSm7UE8m"
        },
        "table": {
          "__rl": true,
          "value": "tbloVFbVCQ5rxt5K8",
          "mode": "list",
          "cachedResultName": "Психология ИИ",
          "cachedResultUrl": "https://airtable.com/apphMC5S7HSm7UE8m/tbloVFbVCQ5rxt5K8"
        },
        "filterByFormula": "=FIND(\"{{ $json.selectedTag }}\", {Теги})",
        "returnAll": false,
        "limit": 15,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -64,
        704
      ],
      "id": "4be651c7-c641-4070-98b5-5b47176b35a2",
      "name": "Search by Tag",
      "credentials": {
        "airtableTokenApi": {
          "id": "lMVLXXYfYpxOzlHm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// const records = $input.all();\n// const tag = $('Extract Tag').first().json.selectedTag;\n// const chatId = $('Extract Tag').first().json.chatId;\n// const messageId = $('Extract Tag').first().json.messageId;\n// const backPage = $('Extract Tag').first().json.backPage;\n\n// if (!records || records.length === 0) {\n//   return {\n//     json: {\n//       chatId: chatId,\n//       messageId: messageId,\n//       text: `По тегу <b>#${tag}</b> материалов не найдено.`,\n//       buttons: [\n//         [{ text: '🏠 В главное меню', callback_data: 'psy:home' }]\n//       ]\n//     }\n//   };\n// }\n\n// let output = `<b>📚 Материалы по теме: #${tag}</b>\\n\\nНайдено: ${records.length}\\n\\n`;\n\n// records.slice(0, 10).forEach((item, index) => {\n//   const record = item.json;\n  \n//   output += `<b>${index + 1}. ${record['Название'] || 'Без названия'}</b>\\n`;\n  \n//   if (record['Summary']) {\n//     const summary = record['Summary'].substring(0, 150);\n//     output += `${summary}${record['Summary'].length > 150 ? '...' : ''}\\n`;\n//   }\n  \n//   if (record['Источник']) {\n//     output += `🔗 <a href=\"${record['Источник']}\">Источник</a>\\n`;\n//   }\n  \n//   output += `\\n`;\n// });\n\n// if (records.length > 10) {\n//   output += `<i>...и ещё ${records.length - 10}</i>`;\n// }\n\n// return {\n//   json: {\n//     chatId: chatId,\n//     messageId: messageId,\n//     text: output,\n//     buttons: [  // ✅ Убрали JSON.stringify\n//       [{ text: '🔙 Вернуться к статье', callback_data: backPage }],\n//       [{ text: '🏠 Главное меню', callback_data: 'psy:home' }]\n//     ]\n//   }\n// };\n\nconst records = $input.all();\nconst tag = $('Extract Tag').first().json.selectedTag;\nconst chatId = $('Extract Tag').first().json.chatId;\nconst messageId = $('Extract Tag').first().json.messageId;\nconst backPage = $('Extract Tag').first().json.backPage;\n\nif (!records || records.length === 0) {\n  return {\n    json: {\n      chatId: chatId,\n      messageId: messageId,\n      text: `<b>${tag}</b>: материалы не найдены.`,\n      buttons: JSON.stringify({\n        inline_keyboard: [[\n          { text: '🏠 Главное меню', callback_data: 'psy:home' }\n        ]]\n      })\n    }\n  };\n}\n\n// 🔥 НОВАЯ ФУНКЦИЯ: умная обрезка по границе предложения\nfunction smartTruncate(text, maxLength) {\n  if (text.length <= maxLength) return text;\n  \n  // Обрезаем с запасом\n  let truncated = text.substring(0, maxLength);\n  \n  // Ищем последнюю точку/восклицательный/вопросительный знак\n  const lastSentence = Math.max(\n    truncated.lastIndexOf('. '),\n    truncated.lastIndexOf('.\\n'),\n    truncated.lastIndexOf('! '),\n    truncated.lastIndexOf('?\\n'),\n    truncated.lastIndexOf(').')\n  );\n  \n  if (lastSentence > maxLength * 0.6) {\n    return truncated.substring(0, lastSentence + 1);\n  }\n  \n  // Если нет - обрезаем по последнему пробелу\n  const lastSpace = truncated.lastIndexOf(' ');\n  if (lastSpace > maxLength * 0.6) {\n    return truncated.substring(0, lastSpace) + '...';\n  }\n  \n  return truncated + '...';\n}\n\nlet output = `<b>${tag}</b> (найдено: ${records.length})\\n\\n`;\n\nrecords.slice(0, 10).forEach((item, index) => {\n  const record = item.json;\n  \n  output += `<b>${index + 1}. ${record['Название']}</b>\\n`;\n  \n  if (record['Summary']) {\n    // 🔥 ИСПОЛЬЗУЕМ УМНУЮ ОБРЕЗКУ вместо substring\n    const summary = smartTruncate(record['Summary'], 200);\n    output += `${summary}\\n`;\n  }\n  \n  if (record['Источник']) {\n    output += `🔗 <a href=\"${record['Источник']}\">Источник</a>\\n`;\n  }\n  \n  output += '\\n';\n});\n\nif (records.length > 10) {\n  output += `<i>Показаны первые 10 из ${records.length} материалов</i>\\n`;\n}\n\nreturn {\n  json: {\n    chatId: chatId,\n    messageId: messageId,\n    text: output,\n    buttons: JSON.stringify({\n      inline_keyboard: [\n        [{ text: '← Назад', callback_data: backPage }],\n        [{ text: '🏠 Главное меню', callback_data: 'psy:home' }]\n      ]\n    })\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        704
      ],
      "id": "dad11f33-3b29-4ad8-a3ce-6354bb75ad42",
      "name": "Format Tag Results"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.chatId }}",
        "messageId": "={{ $json.messageId }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $json.text }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔙 Вернуться к статье",
                    "additionalFields": {
                      "callback_data": "={{ $('Extract Tag').first().json.backPage }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏠 Главное меню",
                    "additionalFields": {
                      "callback_data": "psy:home"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        704
      ],
      "id": "8b5a30b0-cf24-4b1e-890f-eb5be489d425",
      "name": "Send Tag Results",
      "webhookId": "02d2d9c7-dd45-4211-8105-04628cd4eb09",
      "credentials": {
        "telegramApi": {
          "id": "kAot4obTBVgjCQg3",
          "name": "TestBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Clear Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Check Airtable Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Query": {
      "main": [
        [
          {
            "node": "Is Psy Page?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Is Welcome Screen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Send \"Searching\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Output": {
      "main": [
        [
          {
            "node": "Check AI Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Error": {
      "main": [
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Airtable Result": {
      "main": [
        [
          {
            "node": "Airtable Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Error?": {
      "main": [
        [
          {
            "node": "Error Notification1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Table Selected?": {
      "main": [
        [
          {
            "node": "Please Select Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Context": {
      "main": [
        [
          {
            "node": "Send Reply Menu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send \"Searching\"": {
      "main": [
        [
          {
            "node": "Table Selected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Psy Page?": {
      "main": [
        [
          {
            "node": "Build Psy Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Welcome Screen?": {
      "main": [
        [
          {
            "node": "Send Welcome Screen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Psy Page": {
      "main": [
        [
          {
            "node": "TG editMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Callback Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tag Search?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply Menu": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Tag Search?": {
      "main": [
        [
          {
            "node": "Extract Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tag": {
      "main": [
        [
          {
            "node": "Search by Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Tag": {
      "main": [
        [
          {
            "node": "Format Tag Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tag Results": {
      "main": [
        [
          {
            "node": "Send Tag Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4c061dd-d85d-44fc-b3d7-f07501efc7cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdd2dc7d9e7db65a39b1633b599b733b59fe44ee3381c536e1d281bfd55509b5"
  },
  "id": "mxoGyJ0iOPOqJWXe",
  "tags": []
}